body {
    font-size: 16px;
    font-family: serif, sans-serif, monospace;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #F0E3C0;
}

#footer {
    background-color: #4A6C74;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#copyright {
    font-style: italic;;
}

#home {
    text-align: center;
}

.link {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4A6C74;
}

.title {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #8BA693;
    width: 50%;
}

p {
    margin-left: 10px;
}

.new {
	border: 1px solid black;
	margin-bottom: 5px;
	padding: 10px;
	width: 60%;
    margin: auto;
}

.newtitle {
	text-transform: capitalize;
	border: 1px inset black;
    background-color: #8BA693;
}

.main {
	border: 1px dotted black;
    background-color: #8BA693;
}

.author {
    font-style: oblique;
}

form {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 10px;
    width: 60%;
    margin: auto;
}

form div {
    padding: 5px;
}